*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}



.main{
    /* width: 100%; */
    height:100%;

}

.pic{
    /* width: 100%; */
    height:100%;
    /* color: white; */
    background-image: url('/Assets/image/tiger2.jpg');
    background-size: cover;

}

.navh{
    padding: 5px;
    margin-left: 5px;
}
.navh:hover{
    background-color: #588157b7;
    border-radius: 2px;
}

.navg{
    background-color: #081c15 !important;
}
.navbar-brand{
    margin-right: 40px !important;
}

.sectop{
   
    /* padding: 10px; */
}

.subsec{
    display: flex;

}
.subsecimg{
    width: 33px !important;
    height: 7px !important;
    margin-left: 5px;
    position: relative; 
    top: 15px;
    left: 5px;
}
#sectopimgp{
    position: relative;
    left: 10px;
    top: 2px;
    font-size: 20px;
    color:white;

}
.secmid{
    
    /* padding: 20px; */
    margin-left: 15px;
    position: relative;
    bottom: 50px;

}
#secmidp{
    font-size: 17px !important;
    color: white;

}
#secmidh1{
    color: white;
    position: relative;
    bottom: 20px;
   
}


.secmid1p{
    text-align: left;
    position: relative;
    bottom: 10px;
    /* left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;

}
.donation{
    position: relative;
    bottom: 10px;
    left: 30px;
    color: white !important;
    background-color: #588157 !important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
width: 100px;
height: 40px;
border-radius: 30px;
}

.secbtm{
   
    position: relative;
    bottom: 2px;
}

.features-list{
   
    position: relative;
    top: 30px ;
    display: flex;
    list-style: none;
    color: white;


}


.features-item .item-icon {
    color: #90d127 !important;
    font-size: 1.5rem;
    margin-block-start: 1px;
    position: relative;
    bottom: 5px;
    /* left: 25px; */
  } 

.item-title{
    /* width: 100%;
    height: 100%; */
    font-size: 10px !important;
    margin-left: 10px;
    color: white;


}
.item-text{
    /* width: 100%;
    height: 100%; */
    font-size: 10px !important;
    margin-left: 10px;
    color: white;

}

@media ( min-width : 768px ) {


    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* overflow-y: hidden; */
    }
    .main{
        height: 100%;
    }
    .pic{
        /* width: 100%; */
        height: 100%;
        color: white;
        background-image: url('/Assets/image/tiger2.jpg');
        background-size: cover;
    }

    .navbar-brand{
        margin-right: 300px !important;
        font-size: 25px !important;
    }
    
    .sectop{
        width: 100%;
        height: 30%;
        padding: 30px;
    }
    
    .subsec{
        width: 100%;
        height: 100%;
        display: flex;
    
    }
    .subsecimg{
        width: 50px !important;
        height: 10px !important;
        margin-left: 5px;
        position: relative; 
        top: 20px;
        left: 5px;
    }
    #sectopimgp{
        position: relative;
        left: 10px;
        top: 2px;
        font-size: 28px;
        color:white;
    
    }
    .secmid{
        width: 100%;
        height: 20%;
        padding: 20px;
        margin-left: 15px;
        position: relative;
        bottom: 150px;
    
    }
    #secmidp{
        font-size: 30px !important;
        color:white;
    
    }
    #secmidh1{
        color:white;
        font-size: 50px !important;
       
    }
    .secmid1{
        width: 100%;
        height:20% ;
    
    }
    
    .secmid1p{
        text-align: left;
        position: relative;
        bottom: 130px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color:white;
        font-size: 30px !important;

    
    }
    .donation{
        position: relative;
        bottom: 120px;
        left: 30px;
        color: white !important;
        background-color: #588157 !important;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 120px;
    height: 60px;
    border-radius: 30px;
    }
    
    .secbtm{
      
        position: relative;
        bottom: 2px;
    }

    .features-list{
        /* width: 100%;
        height: 100%; */
        position: relative;
        bottom: 60px ;
        list-style: none;
        color:white;
    
    
    }

    .features-item {
        display: flex;
        align-items: flex-start;
        /* gap: 25px; */
      }


      .features-item .item-icon {
        color: #90d127 !important;
        font-size: 3rem;
        margin-block-start: 1px;
        position: relative;
        bottom: 50px;
        left: 25px;
      } 
      
      
      .features-item .item-title { margin-block-end: 10px;
      color: white; }
      
      .features-item .item-text {
        max-width: 40ch;
        color: white;
        font-size: 15px !important;
      }
      
      
      .item-icon{
         
          font-size: 80px;
          margin-right: 15px;
          position: relative !important;
          left: 50px !important;
        
          
      }

    .item-title{
        /* width: 100%;
        height: 100%; */
        font-size: 20px !important;
        margin-left: 5px;
        color:white;
    
    
    }
    .item-text{
        /* width: 100%;
        height: 100%; */
        /* font-size: 10px !important; */
        margin-left: 5px;
        color:white;
    
    }
   
    
}




@media ( min-width : 1024px ) {


    html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
        /* overflow-y: hidden; */
    }

    .main{
        height:100%;
    }
    .pic{
        width: 100%;
        /* height: 100%; */
        color: white;
        background-image: url('/Assets/image/tiger2.jpg');
        background-size: cover;
        overflow-x: hidden;

    }

    .navbar-dark{
        color: white !important;

    }

    .navbar{
        position: fixed !important;
    }     

    .navbar-brand{
        margin-right: 200px !important;
        font-size: 25px !important;
    }
    
    .sectop{
        /* width: 100%;
        height: 30%; */
        /* padding: 30px; */
    }
    
    .subsec{
        /* width: 100%;
        height: 100%; */
        display: flex;

    
    }
    .subsecimg{
        width: 50px !important;
        height: 10px !important;
        margin-left: 5px;
        position: relative; 
        top: 45px;
       


    }
    #sectopimgp{
        position: relative;
        left: 10px;
        top: 30px;
        font-size: 28px;
        color:white;
    
    }
    .secmid{
        /* width: 100%;
        height: 20%; */
        padding: 20px;
        margin-left: 15px;
        position: relative;
        bottom: 100px;
    
    }
    #secmidp{
        font-size: 20px !important;
        color:white;
    
    }
    #secmidh1{
        color:white;
        font-size: 35px !important;
       
    }
    .secmid1{
        /* width: 100%;
        height:20% ; */
    
    }
    
    .secmid1p{
        text-align: left;
        position: relative;
        bottom: 40px;
        left: 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color:white;
        font-size: 18px !important;

    
    }
    .donation{
        position: relative;
        bottom: 50px;
        left: 30px;
        color: white !important;
        background-color: #588157 !important;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 150px;
    height: 60px;
    border-radius: 30px;
    }
    
    .secbtm{
        /* width: 100%;
        height: 30%; */
        position: relative;
        bottom: 2px;
    }
    /* .subsecbtm{
        width: 100%;
        height: 30%;
        padding: 10px;
       
    } */

    .features-list {
        display:flex;
        /* flex-direction: column; */
        justify-content: flex-end;
        position: relative;
        top: 70px ;
        right: 35px;
      }
      
      .features-item {
        display: flex;
        align-items: flex-start;
        gap: 35px;
      }
      
      .features-item .item-icon {
        color: #90d127 !important;
        font-size: 3rem;
        margin-block-start: 5px;
        position: relative;
        bottom: 20px ;
      } 
      
      
      .features-item .item-title { margin-block-end: 10px;
      color: white; }
      
      .features-item .item-text {
        max-width: 35ch;
        color: white;
        font-size: 18px;
        margin-top: 10px;
      }
      
      
      .item-icon{
         
          font-size: 100px;
          margin-right: 20px;
      }

   
    
}



/* *********home Section is over hear********** */

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
        /* overflow-y: hidden; */
    }

    .main{
        height:100%;
    }
   

    .navbar-dark{
        color: white !important;

    }

    

    .navbar-brand{
        margin-right: 200px !important;
        font-size: 25px !important;
    }

.navbar{
    position: relative !important;
} 
.asectop{
    width: 100%;
    }
    .asubsectop{
        width: 100%;
        display: flex;
    
    }
    .asubsectopl{
    width: 60%;
    }
    
    .anim{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .pan{
        margin-top: 10px;
        width: 70px !important;
        height: 140px !important;
    }

    .leo{
        width: 100px !important;
        height: 160px !important;
        margin-left: 80px;
        position: relative;
        bottom: 120px;
    }

    .tig{
        width: 180px !important;
        height: 120px !important;
        position: relative;
        bottom: 100px;

        
    }
    .fo{
        width: 130px !important;
        height: 200px !important;
        margin-left: 10px;
        position: relative;
        bottom: 80px;

    }
    .asubsectopr{
        width: 50%;
       
    }
    
    .tab-nav{
        display: flex !important;
        list-style: none;
    
    }

    .abmob1{
        width: 25px;
        height: 10px;
        position: relative;
        top: 5px;
    }

    .abmob{
        font-size: 14px;
    }
    
    .btn{
        margin-left: 5px ;
    }
    
    .abmob3{
        margin-top: 15px;
        width: 50px;
        font-size: 10px !important;
        position: relative;
        right: 10px;
    }

    .tab-list{
        display: flex;
        flex-wrap: wrap;
    }
    .tab-item{
        list-style: none;
        margin-top: 20px;
        
    }
    .titem-icon{
        color: #90d127 !important;
        position: relative;
        top: 5px;
        left: -30px;
    }
    .tab-text{
        position: relative;
        left: 2px;
        font-size: 15px;
        bottom: 20px;
    }
    .btnlm{
        position: relative;
        bottom: 20px;
        box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
    }
    
    .btnlm:hover{
        background-color: #386641 !important;
       
    }

    @media (min-width : 768px) {

        html,body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
                /* overflow-y: hidden; */
            }
        
            .main{
                height:100%;
            }
           
        
            .navbar-dark{
                color: white !important;
        
            }
        
            
        
            .navbar-brand{
                margin-right: 200px !important;
                font-size: 25px !important;
            }
    
        .navbar{
            position: relative !important;
        } 
        .asectop{
            width: 100%;
            }
            .asubsectop{
                width: 100%;
                display: flex;
            
            }
    
    
            .asubsectopl{
            width: 60%;
            }

            /* .anim{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            } */
            .pan{
                margin-top: 10px;
                width: 170px !important;
                height: 300px !important;
            }
        
            .leo{
                width: 190px !important;
                height: 300px !important;
                margin-left: 180px;
                position: relative;
                bottom: 300px;
            }
        
            .tig{
                width: 362px !important;
                height: 300px !important;
                position: relative;
                bottom: 280px;
        
                
            }
            .fo{
                width: 300px !important;
                height: 450px !important;
                margin-left: 10px;
                position: relative;
                bottom: 260px;
            }
        
            .asubsectopr{
                width: 40%;
            }
            
            .tab-nav{
                display: flex !important;
                list-style: none;
            
            }

            .abmob1{
                width: 35px !important;
                height: 20px !important;
                position: relative;
                top: 5px;
            }
        
            .abmob{
                font-size: 24px !important ;
            }
            
            
            .abmob3{
                margin-top: 10px;
                width: 80px;
                font-size: 15px !important;
                position: relative;
                right: 5px;
            }
            .btn{
                margin-left: 10px !important;
            }
            
            .tab-list{
                display: flex;
                flex-direction: column;
            }
            .tab-item{
                list-style: none;
                margin-top: 20px;
                
            }
            .titem-icon{
                color: #90d127 !important;
                position: relative;
                top: 5px;
            }
            .tab-text{
                position: relative;
                left: 20px;
                font-size: 17px;
                bottom: 20px;
            }
            .btnlm{
                position: relative;
                top: 25px;
                box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
            }
            
            .btnlm:hover{
                background-color: #386641 !important;
               
            }
        
        
    }


@media (min-width : 1024px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
            /* overflow-y: hidden; */
        }
    
        .main{
            height:100%;
        }
       
    
        .navbar-dark{
            color: white !important;
    
        }
    
        
    
        .navbar-brand{
            margin-right: 200px !important;
            font-size: 25px !important;
        }

    .navbar{
        position: relative !important;
    } 
    .asectop{
        width: 100%;
        }
        .asubsectop{
            width: 100%;
            display: flex;
        
        }


        .asubsectopl{
        width: 60%;
        height: auto;
        }
      
        .pan{
            margin-top: 10px;
            width: 270px !important;
            height: 400px !important;
        }
    
        .leo{
            width: 290px !important;
            height: 400px !important;
            margin-left: 280px;
            position: relative;
            bottom: 400px;
        }
    
        .tig{
            width: 562px !important;
            height: 350px !important;
            position: relative;
            bottom: 390px;
    
            
        }
        .fo{
            width: 380px !important;
            height: 550px !important;
            margin-left: 10px;
            position: relative;
            bottom: 370px;
        }
    
        
        .asubsectopr{
            width: 40%;
        height: auto;

        }
        
        .tab-nav{
            display: flex !important;
            list-style: none;
            flex-direction: column;

        }
        
        .btn{
            margin-left: 10px !important;
        }
        
        .abmob3{
            margin-top: 10px;
            width: 180px;
            height: 60px;
            font-size: 15px !important;
            position: relative;
            right: 5px;
            margin-bottom: 10px;
            top: 20px;
            
        }
        .tabsectext{
             position: relative;
            top: 40px;
            font-size: 35px !important;
        }
        .tab-list{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 50px;
        }


        .tab-item{
            list-style: none;
        }
        .titem-icon{
            color: #90d127 !important;
            position: relative;
            top: 5px;
        }
        .tab-text{
            position: relative;
            left: 20px;
            font-size: 25px;
            bottom: 30px;
        }
        .btnlm{
            position: relative;
            top: 40px;
            box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(85,166,48,0.75);
            font-size: 25px !important;
        }
        
        .btnlm:hover{
            background-color: #386641 !important;
           
        }

    
    
}

/* ################################### about over ##################################### */

.sevsec-subtitle{

}
.sevsec-title{
    font-size: 40px !important;
}

.service-list{
    display: flex;
    /* display: grid; */
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;

}
.service-card {
    background-color: white;
    text-align: left;
    padding: 40px 40px;
    border-radius: 2px;
    outline: 4px solid transparent;
    margin-top: 10px;
   
   
  }

  .service-card:is(:hover, :focus-within) { outline-color: #344e41; }

.service-card .card-icon {
  color: #6a994e;
  font-size: 7rem;
  width: 200px !important;
  margin-inline: auto;
}


@media ( min-width : 768px) {

    
.sevsec-subtitle{

}
.sevsec-title{
    font-size: 40px !important;
}

.service-list{
    display: flex;
    /* display: grid; */
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;

}
.service-card {
    background-color: white;
    text-align: left;
    padding: 40px 40px;
    border-radius: 2px;
    outline: 4px solid transparent;
    margin-top: 10px;
   
   
  }

  .service-card:is(:hover, :focus-within) { outline-color: #344e41; }

.service-card .card-icon {
  color: #6a994e;
  font-size: 7rem;
  width: 200px !important;
  margin-inline: auto;
}
    
}

@media (min-width : 1024px) {


    .sevsec-subtitle{

    }
    .sevsec-title{
        font-size: 40px !important;
    }
    
    .service-list{
        display: flex;
        /* display: grid; */
        gap: 30px;
        list-style: none;
        flex-wrap: nowrap;
    
    }
    .service-card {
        background-color: white;
        text-align: left;
        padding: 40px 40px;
        border-radius: 2px;
        outline: 4px solid transparent;
        margin-top: 10px;
       
      }
    
      .service-card:is(:hover, :focus-within) { outline-color: #344e41; }
    
    .service-card .card-icon {
      color: #6a994e;
      font-size: 7rem;
      width: 200px !important;
      margin-inline: auto;
    }
    
}


/* ##################################### Service over ############################ */

.donate-list {
    margin-top: 20px;
    list-style: none;
    }
    
    .donate-card{
        border: 3px solid #344e41;
        border-radius: 3px;
        margin-bottom: 30px;
        padding: 20px;
    
    }
    
    .donate-card .card-banner { background-color: var(--light-gray); }

    .cbdonate3{
        width: 300px ;
        height: 200px;
    }
    .cbdonate{
        width: 300px;
        height: 200px;
    }
    
    .cbdonate1{
        width:300px;
        height:400px;
    }
    .cbdonate2{
        width:280px;
        height:300px;
    }
    
    .donate-card .card-content {
      background-color: white;
      padding: 10px;
     
    }
    
    .progress-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .progress-text {
      display: flex;
      gap: 5px;
      font-size: 20px;
    }
    
    .progress-text data {
      color: black;
      font-weight: 600px;
    }
    
    .donate-card .card-title { --fs-5: 2.1rem; }
    
    .progress-box {
        background-color: #76c893;
        border-radius: 20px;
        margin-block: 10px 20px;
      }
    
    .progress {
      height: 6px;
      width: 83%;
      border-radius: inherit;
      background-color: #386641 !important;
    }
    
    .progress-value {
      color:#386641;
      font-size: 18px;
      font-weight: 400px;
    }
    
    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
    
    
    .dobtn{
        background-color: #606c38 !important;
    }


    @media (min-width : 768px) {
        
        .donate-list {
            margin-top: 20px;
            list-style: none;
            }
            
            .donate-card{
                border: 3px solid #344e41;
                border-radius: 3px;
                margin-bottom: 30px;
                padding: 20px;
            
            }
            
            .donate-card .card-banner { background-color: var(--light-gray); }
        
            .cbdonate3{
                width: 300px ;
                height: 200px;
            }
            .cbdonate{
                width: 300px;
                height: 200px;
            }
            
            .cbdonate1{
                width:300px;
                height:400px;
            }
            .cbdonate2{
                width:280px;
                height:300px;
            }
            
            .donate-card .card-content {
              background-color: white;
              padding: 10px;
             
            }
            
            .progress-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            
            .progress-text {
              display: flex;
              gap: 5px;
              font-size: 20px;
            }
            
            .progress-text data {
              color: black;
              font-weight: 600px;
            }
            
            .donate-card .card-title { --fs-5: 2.1rem; }
            
            .progress-box {
                background-color: #76c893;
                border-radius: 20px;
                margin-block: 10px 20px;
              }
            
            .progress {
              height: 6px;
              width: 83%;
              border-radius: inherit;
              background-color: #386641 !important;
            }
            
            .progress-value {
              color:#386641;
              font-size: 18px;
              font-weight: 400px;
            }
            
            .card-wrapper {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              gap: 5px;
            }
            
            
            .dobtn{
                background-color: #606c38 !important;
            }
    }
    

     @media (min-width : 1024px) {

.donate-list {
    margin-top: 20px;
    list-style: none;
    }
    
    .donate-card{
        border: 3px solid #344e41;
        border-radius: 3px;
        margin-bottom: 30px;
        padding: 20px;
    
    }
    
    .donate-card .card-banner { background-color: var(--light-gray); }


    .cbdonate3{
        width: 450px !important;
        height: 300px !important;
    }
    .cbdonate{
        width: 520px !important;
        height: 305px !important;
    }
    
    .cbdonate1{
        width:370px !important;
        height:400px !important;
    }
    .cbdonate2{
        width:260px !important;
        height:300px !important;
    }
    .donate-card .card-content {
      background-color: white;
      padding: 10px;
     
    }
    
    .progress-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .progress-text {
      display: flex;
      gap: 5px;
      font-size: 20px;
    }
    
    .progress-text data {
      color: black;
      font-weight: 600px;
    }
    
    .donate-card .card-title { --fs-5: 2.1rem; }
    
    .progress-box {
        background-color: #76c893;
        border-radius: 20px;
        margin-block: 10px 20px;
      }
    
    .progress {
      height: 6px;
      width: 83%;
      border-radius: inherit;
      background-color: #386641 !important;
    }
    
    .progress-value {
      color:#386641;
      font-size: 18px;
      font-weight: 400px;
    }
    
    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
    
    
    .dobtn{
        background-color: #606c38 !important;
    }
    
        
    } 


    
/* ################################### Donate over ######################################## */


.section-subtitle { 
    position: relative;
    left: 400px;
    top: 20px;
    padding: 10px;
    color: #69a804 !important;
        
     }
    
    .event .section-title {
      text-align: center;
      margin-block: 15px 50px;
      margin-top: 25px;
    }
    
    .event-list {
      display: grid;
      gap: 30px;
      margin-block-end: 70px;
      list-style: none;
    
    }
    
    .event-card {
      border: 1px solid #90d127;
      padding: 40px 30px;
      border-radius: 2px;
      outline: 3px solid transparent;
      transition: 2s;
    }
    
    
    .event-card:is(:hover, :focus-within) { outline-color: #69a804; }
    
    .event-card .card-time {
      background-color: #69a804;
      color: white;
      font-weight: 600;
      line-height: 1.3;
      max-width: max-content;
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 10px 15px #69a804;
    }
    
    .event-card .card-time .month { font-size: 18px; }
    
    .event-card .card-time .date { font-size: 18px;}
    
    .event-card .card-subtitle {
      margin-block: 30px 5px;
      color: #69a804;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -1px;
    }
    
    .card-subtitle{
        position: relative ;
        left: 5px ;
        bottom: 10px ;
        
      }
    
    .event-card .card-title {
      color: #344e41;
      letter-spacing: -1px;
    }
    
    .event-card .card-text {
      margin-block: 5px 30px;
    }
    
    .btn-outline-secondary{
        margin-top: 20px;
        width: 250px;
        height: 40px;
    }
    
    .event .btn-secondary { 
        margin-inline: auto;
     }
    
     .btneve{
        position: relative;
        bottom: 30px;
        background-color: #386641 !important;
        width: 250px;
        height: 40px;
     }


     @media (min-width:768) {

        .section-subtitle { 
            position: relative;
            left: 400px;
            top: 20px;
            padding: 10px;
            color: #69a804 !important;
                
             }
            
            .event .section-title {
              text-align: center;
              margin-block: 15px 50px;
              margin-top: 25px;
            }
            
            .event-list {
              display: grid;
              gap: 30px;
              margin-block-end: 70px;
              list-style: none;
            
            }
            
            .event-card {
              border: 1px solid #90d127;
              padding: 40px 30px;
              border-radius: 2px;
              outline: 3px solid transparent;
              transition: 2s;
            }
            
            
            .event-card:is(:hover, :focus-within) { outline-color: #69a804; }
            
            .event-card .card-time {
              background-color: #69a804;
              color: white;
              font-weight: 600;
              line-height: 1.3;
              max-width: max-content;
              padding: 10px 20px;
              border-radius: 8px;
              box-shadow: 0 10px 15px #69a804;
            }
            
            .event-card .card-time .month { font-size: 18px; }
            
            .event-card .card-time .date { font-size: 18px;}
            
            .event-card .card-subtitle {
              margin-block: 30px 5px;
              color: #69a804;
              font-size: 28px;
              font-weight: 600;
              letter-spacing: -1px;
            }
            
            .card-subtitle{
                position: relative ;
                left: 5px ;
                bottom: 10px ;
                
              }
            
            .event-card .card-title {
              color: #344e41;
              letter-spacing: -1px;
            }
            
            .event-card .card-text {
              margin-block: 5px 30px;
            }
            
            .btn-outline-secondary{
                margin-top: 20px;
                width: 250px;
                height: 40px;
            }
            
            .event .btn-secondary { 
                margin-inline: auto;
             }
            
             .btneve{
                position: relative;
                bottom: 30px;
                background-color: #386641 !important;
                width: 250px;
                height: 40px;
             }
        
     }


@media (min-width:1024px) {
    

.section-subtitle { 
    position: relative;
    left: 400px;
    top: 20px;
    padding: 10px;
    color: #69a804 !important;
        
     }
    
    .event .section-title {
      text-align: center;
      margin-block: 15px 50px;
      margin-top: 25px;
    }
    
    .event-list {
      display: grid;
      gap: 30px;
      margin-block-end: 70px;
      list-style: none;
    
    }
    
    .event-card {
      border: 1px solid #90d127;
      padding: 40px 30px;
      border-radius: 2px;
      outline: 3px solid transparent;
      transition: 2s;
    }
    
    
    .event-card:is(:hover, :focus-within) { outline-color: #69a804; }
    
    .event-card .card-time {
      background-color: #69a804;
      color: white;
      font-weight: 600;
      line-height: 1.3;
      max-width: max-content;
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 10px 15px #69a804;
    }
    
    .event-card .card-time .month { font-size: 18px; }
    
    .event-card .card-time .date { font-size: 18px;}
    
    .event-card .card-subtitle {
      margin-block: 30px 5px;
      color: #69a804;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -1px;
    }
    
    .card-subtitle{
        position: relative !important;
        left: 230px !important;
        bottom: 65px ;
        
      }
    
    .event-card .card-title {
      color: #344e41;
      letter-spacing: -1px;
    }
    
    .event-card .card-text {
      margin-block: 5px 30px;
    }
    
    .btn-outline-secondary{
        margin-top: 20px;
        width: 250px;
        height: 40px;
    }
    
    .event .btn-secondary { 
        margin-inline: auto;
     }
    
     .btneve{
        position: relative;
        bottom: 30px;
        background-color: #386641 !important;
        width: 250px;
        height: 40px;
     }

    }

     /* ################################ Event over ########################## */



 .forest{
    background-color: #344e41;
    
 }

 
audio::-webkit-media-controls-panel {
    background-color: #344e41;
    
  }
 .footer {
    background-color: #344e41;
    color: white;
    padding-block: 40px;
  }

  .copyright{
    position: relative; 
    right: 5px;
  }
  
  .footer .container {
    margin-inline: 20px;
    background-color: #386641;
    padding: 20px;
    position: relative;
    right: 20px;
  }
  
  .footer-list,.copyright {
    max-width: max-content;
    margin-inline: 30px;
    list-style: none;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
 
  }
  
  .footer-link,
  .copyright-link {
    text-decoration: underline;
    transition: 2s;
  }
  
  .footer-link { 
     color: white ;
     position: relative;
     left: 400px !important;

}
  
  :is(.footer-link, .copyright-link):is(:hover, :focus) { 
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  
  .copyright { text-align: center; }
  
  .copyright-link { display: inline-block; }

  .carousel-inner{
    width: 100% !important;
    height: 30% !important;
  }


  @media (min-width:768px) {

    .forest{
        background-color: #344e41;
        
     }
    
     
    audio::-webkit-media-controls-panel {
        background-color: #344e41;
        
      }
     .footer {
        background-color: #344e41;
        color: white;
        padding-block: 40px;
      }
    
      .copyright{
        position: relative; 
        left: 45px;
      }
      
      .footer .container {
        margin-inline: 20px;
        background-color: #386641;
        padding: 20px;
        position: relative;
        left: 5px;
      }
      
      .footer-list,.copyright {
        max-width: max-content;
        margin-inline: 30px;
        list-style: none;
      }
      
      .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px 40px;
        margin-block-end: 15px;
        position: relative;
        right: 220px;
     
      }
      
      .footer-link,
      .copyright-link {
        text-decoration: underline;
        transition: 2s;
      }
      
      .footer-link { 
         color: white ;
         position: relative;
         left: 400px !important;
    
    }
      
      :is(.footer-link, .copyright-link):is(:hover, :focus) { 
        background-color: hsla(0, 0%, 100%, 0.05);
      }
      
      .copyright { text-align: center; }
      
      .copyright-link { display: inline-block; }
    
      .carousel-inner{
        width: 100% !important;
        height: 30% !important;
      }
    
  }
@media (min-width:1024px) {
    

 .forest{
    background-color: #344e41;
    
 }

 
audio::-webkit-media-controls-panel {
    background-color: #344e41;
    
  }
 .footer {
    background-color: #344e41;
    color: white;
    padding-block: 40px;
  }

  .copyright{
    position: relative !important; 
    left: 150px !important;
  }
  
  .footer .container {
    margin-inline: 20px;
    background-color: #386641;
    padding: 20px;
    position: relative;
    left: 10px;
  }
  
  .footer-list,.copyright {
    max-width: max-content;
    margin-inline: 30px;
    list-style: none;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
    position: relative !important;
     right: 150px !important;
 
  }
  
  .footer-link,
  .copyright-link {
    text-decoration: underline;
    transition: 2s;
  }
  
  .footer-link { 
     color: white ;
     position: relative;
     left: 400px !important;

}
  
  :is(.footer-link, .copyright-link):is(:hover, :focus) { 
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  
  .copyright { text-align: center; }
  
  .copyright-link { display: inline-block; }

  .carousel-inner{
    width: 100% !important;
    height: 30% !important;
  }
} 